<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Formulario de contacto</title>
</head>
  <body>
    <div class="contact_form">
      <div class="formulario">
        <h1>Formulario Editar Producto</h1>
        <h3>Edite el producto segun tu necesidad</h3>

        <form [formGroup]="fgValidador" (ngSubmit)="EditarProducto()">
            <input formControlName="id" type="hidden"/>
            <p>
            <label for="nombre" class="active"
              >Nombre Producto
              <span class="obligatorio">*</span>
            </label>
            <input
            formControlName="nombre"
              type="text"
              name="producto_nombre"
              id="nombre"
              required="obligatorio"
              placeholder="Escribe nombre Producto"
            />
          </p>

          <p>
            <label for="number" class="active"
              >Precio
              <span class="obligatorio">*</span>
            </label>
            <input
            formControlName="precio"
              type="number"
              name="precio"
              id="precio_producto"
              required="obligatorio"
              placeholder="Escribe el Valor del producto"
            />
          </p>

          <p>
            <label for="link" class="active">Link </label>
            <input
            formControlName="imagen"
              type="link"
              name="link_producto"
              id="link_producto"
              placeholder="ingresa link del producto"
            />
          </p>

          <button [disabled]="!fgValidador.valid" type="submit">
            <p>Enviar</p>
          </button>

          <p class="aviso">
            <span class="obligatorio"> * </span>los campos son obligatorios.
          </p>
        </form>
      </div>
    </div>
  </body>
</html>

<!-- creado por javiniguez.com, Julio 2019 -->
